.root {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: hidden;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    height: auto;
  }
}
