.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.video {
  width: 100%;
  object-fit: cover;
  filter: brightness(0.55);
   @media (max-width: 768px) {
    min-height: 92vh;
  }
}

.playPause {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 70px;
  height: 70px;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);

  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.3s ease;

  svg {
    width: 38px;
    height: 38px;
    color: white;
  }

  &:hover {
    transform: translate(-50%, -50%) scale(1.08);
    background: rgba(255, 255, 255, 0.27);
  }
}
